.ice-cream-card {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px 0;
  padding: 30px;
  border-radius: 10px;
  transition: all .5s;
  background: #FFF;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}

.ice-cream-card__title {
  margin-bottom: 30px;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 0px #222;
}
@media (max-width: 600px)  {
  .ice-cream-card {
    width: 100px;
    left: 30%;
  }
  .ice-cream-card__title {
    font-size: 30px;
  }
}
.ice-cream-card__image {
  width: 100px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.ice-cream-card_dark-chocolate .ice-cream-card__title {
  color: #584b3e;
}


.ice-cream-card_lemon .ice-cream-card__title {
  color: #fff44f;
}

.ice-cream-card_mint .ice-cream-card__title {
  color: #c2f2d0;
}

.ice-cream-card_acai .ice-cream-card__title {
  color: #4F1638;
}
