.ice-cream {
  position: relative;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ice-cream p {
  font-family: 'Bungee', cursive;
  text-align: center;
  text-shadow: 1px 1px 0px #222;
}


.ball {
  height: 125px;
  width: 130px;
  border-radius: 50%;
  transform: rotate(315deg) translate(40px, -30px);
  position: relative;
}
.ball:after {
  content: "";
  height: 46%;
  width: 17%;
  position: absolute;
  left: 81%;
  top: 56%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  opacity: .5;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 10px solid white;
}
.ball-animation {
  animation: balldrops forwards ease-in 1s;
}
@keyframes balldrops {
  0% {
    border-top-right-radius: 0;
  }
  70% {
    border-top-right-radius: 50%;
    transform: rotate(315deg) translate(-14px, 16px);
  }
  85% {
    border-top-right-radius: 100%;
    transform: rotate(315deg) translate(-14px, 16px);
  }
  100% {
    border-top-right-radius: 75%;
    transform: rotate(315deg) translate(-14px, 16px);
  }
}
/*just realized these var names are awful*/
.ball-drip {
  width: 17px;
  height: 0px;
  position: absolute;
  z-index: 3;
  border-radius: 0 0 8px 8px;
}
.small-drip {
  left: 65%;
  animation: small-melt forwards 1s;
  animation-delay: 1s;
}
.big-drip {
  left: 29%;
  animation: big-melt forwards 1s;
  animation-delay: 1.5s;
}
@keyframes small-melt {
  from {
    height: 0px;
  }
  to {
    height: 30px;
  }
}
@keyframes big-melt {
  from {
    height: 0px;
  }
  to {
    height: 70px;
  }
}


.cone {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 150px solid #ffcb85;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}
.cone:after {
  content: "";
  height: 150px;
  width: 100px;
  position: absolute;
  transform: translate(-50%,-100%);
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
  background: repeating-linear-gradient(
  50deg,
  #c7a577,
  #c7a577 1px,
  transparent 1px,
  transparent 20px
);
}

.cone:before {
  content: "";
  height: 150px;
  width: 100px;
  position: absolute;
  transform: translate(-50%,-100%);
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
  background: repeating-linear-gradient(
  150deg,
  #c7a577,
  #c7a577 1px,
  transparent 1px,
  transparent 20px
);
}


.dark-chocolate .ball, .dark-chocolate .ball-drip {
  background: #584b3e;
}
.dark-chocolate p {
  color: #584b3e;
}

.lemon .ball, .lemon .ball-drip {
  background: #fff44f;
}
.lemon p {
  color: #fff44f;
}

.mint .ball, .mint .ball-drip {
  background: #c2f2d0;
}
.mint p {
  color: #c2f2d0;
}

.acai .ball, .acai .ball-drip {
  background: #4F1638;
}
.acai p {
  color: #4F1638;
}
