    body {
        padding-top: 30px;
        font-size: 200%;
        font-family: 'Abel', sans-serif;
        background-image: url('http://res.cloudinary.com/dvpxgbx82/image/upload/v1464981680/download_1_xs0pzc_daymode_mqpo8y.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: black;
      }

      *::selection {
  background-color: pink;
        }
      
      p {
        margin: 30px 40px 30px 40px;
      }
      
      .jumbo {
        margin: 0;
        padding: 200px 0 200px 0;
      }
      
      .btn-default {
        width: 100px;
        padding: 10px;
      }
      
      .container {
        max-width: 400px;
        margin: 0 auto;
        position: relative;
      }
      
      .container div {
        width: 100%;
        display: inline-block;
        display: none;
      }
      
      .container img {
        width: auto;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto
      }
      
.opacid {
  background-color: white;
  opacity: 0.5;
}

    .night {
      color: white;
      background-image: url('http://res.cloudinary.com/dvpxgbx82/image/upload/v1464981680/download_1_xs0pzc_nightmode_ivqeqg.png');
    }

