@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
  font-family: monospace;
}

section {
  position: relative;
}
section:before {
  content: "";
  position: absolute;
}
section:after {
  content: "";
  position: absolute;
}

.map {
  height: 100vh;
  background: #ffe0eb;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  background: #ffe0eb;
}

.header__title, .header__icon .header__link {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #6b3e26;
  grid-area: 2 / 1 / 2 / 2;
}

.header__icon {
  grid-area: 4 / 1 / 4 / 2;
}
.header__link {
  position: relative;
  display: table;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  text-decoration: none;
  transition: all .5s;
}
.header__link:before, .header__link:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all .5s;
  background: #6b3e26;
}
.header__link:before {
  height: 10px;
  width: 100%;
}
.header__link:after {
  height: 100%;
  width: 10px;
}
.header__link:hover:after {
  transform: translate(-50%, -100%);
}
.header__link:hover:before {
  transform: translate(0%, -100%);
}

.header__link:hover {
  transform: rotate(-45deg);
  transform-origin: center;
}

.photo-section {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  background: #e0e7ff;
}


.photo-section__selfie {
  width: 100%;
  transition: 1s all;
}
.photo-section__selfie-description {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  opacity: 0;
  transition: 1s all;
  font-size: 2em;
  letter-spacing: 3px;
  line-height: 0;
}

.photo-section:hover .photo-section__selfie {
  filter: opacity(.5);
}
.photo-section:hover .photo-section__selfie-description {
  opacity: 1;
  line-height: 1.25;
}

.about {
  background: #fff;
  color: 	#6b3e26;
  justify-content: center;
  padding: 10px 30px;
}
.about__icon {
  position: relative;
  display: table;
  margin: 15px auto;
  padding: 25px;
  border-radius: 50%;
}
.about__icon__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: 'Bungee Shade', cursive;

}
.about__icon-yellow {
  background: #fff44f;
}
.about__icon-green {
  background: #c2f2d0;
}
.about__icon-purple {
  background: #ffe0eb;
}
.about__text {
  font-size: 1.5em;
  line-height: 3;
  text-align: center;
}
.about__link {
  position: relative;
  color: #222;
  text-decoration: none;
  font-weight: bold;
}
.about__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  transform-origin: bottom;
  transition: all .25s;
  opacity: 0.5;
}
.about__link:hover:after {
  transform: scaleY(5);
}
.about__link-yellow:after {
  background: #fff44f;
}
.about__link-green:after{
  background: #c2f2d0;
}
.about__link-purple:after {
  background: #ffe0eb;
}


.links {
  background: #e0e7ff;
  padding: 30px;
}
.links .center {
  margin: 0 auto;
  display: table;
}
.links a {
  text-decoration: none;
  margin: 0 5px;
}

.contact {
  background: #fff;
  color: 	#6b3e26;
  padding: 10px 30px;
  display: flex;
  align-items: flex-end;
}
@media (min-width: 960px)  {
  .contact {
    border-top: 0;
  }
}
.contact__text {
  font-size: 1.5em;
  line-height: 2;
}

.flavors {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 25px;
  background: #ffe0eb;
}

*::selection {
  background-color: pink;
}
